.UitabSettingsModal {
    label {
        margin: 10px 0;
    }

    input {
        flex-grow: 1;
    }

    .helpText {
        font-size: 12px;
    }

    .uitabSettingsIcon {
        margin-right: 5px;
    }
  
  }